body {
    
    background-color: #ccd5ae;
}

.shadow {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.testtop {

    background-color: #d4a373;
}
.nav_bar {

    background-color: #faedcd;
    text-align: center;
}

.nav_buttons {

    margin-top: 1rem;
    margin-bottom: 1rem;


}

.main_body {

    background-color: #fefae0;
    text-align: center;
}

.test {

    margin-top: 125%;
    margin-bottom: 25%;
}

.testLogo {

    border-radius: 35%;
    
}

.testFooter {

    background-color: #d4a373;
    text-align: center;

}

.testFoterke {

    margin-top: 2%;
    margin-bottom: 2%;

    text-align: center;

}